<!-- app/views/sessions/callback.html.erb -->
<div class="container">
  <h1 class="mt-5">OAuth Callback Information</h1>

  <nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link" href="/fetch_user_profile">User Profile</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/fetch_organizations_data">Organizations Info</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/fetch_action_items">Action Items</a>
  </nav>

  <section class="mt-4">
    <h2>Token Information</h2>
    <ul class="list-group">
      <li class="list-group-item"><strong>Token:</strong> <%= @oauth_data.token %></li>
      <li class="list-group-item"><strong>Expires In:</strong> <%= @oauth_data.expires_in %></li>
      <li class="list-group-item"><strong>Refresh Token:</strong> <%= @oauth_data.refresh_token %></li>
    </ul>
  </section>
</div>
