<!-- app/views/sessions/show_user_profile.html.erb -->
<div class="container">
  <h1>User Profile</h1>
  <% if @user_profile %>
    <ul class="list-group">
      <% @user_profile.each do |key, value| %>
        <li class="list-group-item"><strong><%= key %>:</strong> <%= value %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No user profile data available.</p>
  <% end %>
</div>
