<h1>OAuth Response</h1>
<p>Access Token: <%= @data.credentials.token %></p>
<p>Refresh Token: <%= @data.credentials.refresh_token %></p>
<p>Token Expires at: <%= Time.at(@data.credentials.expires_at) %></p>
